p {
    font-size: 26px;
    line-height: 38px;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.about-text-container {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-bottom: 62px;
    margin-left: 30px;
}

.title {
    display: flex;
    position: relative;
    z-index: 0;
    align-items: center;
}

.title > h2 {
    margin:0 0 0 25px;
}

.about-dot {
    position: absolute;
    z-index: -1;
    display: flex;
    height: 70px;
    width: 70px;
    background: #ED624C;
    border-radius: 50%;
    margin-bottom: 8px;
  }

  #about {
    padding-top: 120px;
  }

/* Formally 1279px */
@media  screen and (max-width: 79.9375em) { 

    .about-text-container {
        margin-left: 10px;
    }

    .text-container  {
        margin-bottom: 32px;
    }

    .text-container > p {
        font-size: 21px;
    }


}



/* Formally 1024px */
@media  screen and (max-width: 64em)  { 

    div.title > h2 {
        margin:0 0 0 15px;
    }

    .about-text-container {
        margin-left: 10px;
    }

    .text-container  {
        margin-bottom: 32px;
    }

    .text-container > p {
        font-size: 21px;
    }
}



/* Formally 768px */
@media  screen and (max-width: 48em) { 

    .about-text-container {
        margin-left: 15px;
    }

    .text-container > p {
        font-size: 21px;
    }
  }



/* Formally 703px */
@media  screen and (max-width: 43.9375em) { 
    
    .text-container > p {
        font-size: 19px
    }
}


/* Formally 425px */
@media  screen and (max-width: 26.5625em){ 

    .about-text-container {
        margin-left: 5px;
    }

    .text-container h4 {
        font-size: 26px;
    }

    .text-container p {
        font-size: 18px;
        line-height: 28px;
    }

    .about-dot {
        height: 50px;
        width: 50px;
    }
  }


/* Formally 375px */
@media  screen and (max-width: 23.4375em) { 

    .text-container {
        font-size: 17px;
    }

    .text-container h4 {
        font-size: 23px;
    }

    .text-container p {
        font-size: 16px;
    }
  }