/* div > .top-nav-container {
    box-shadow: 0px 8px 8px 0px rgba(25, 25, 25, 0.181);
} */



.top-nav-container {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    padding-top: 25px;
    background-color: white;
    margin: 0;
    z-index: 1;
    border-style: solid;
    border-width: 0px 0px 5px 0px;
    border-color: hsl(0, 2%, 91%);
    width: 110%;
    margin-left: -5%;

}



.brand-container > img {
    width: 42px;
    height: 42px;
    margin-right: 8px;
    margin-top: -6px;
}

div.logo {
    display: block;
    width: 25px;
    background-color: red;
}

.brand-container {
    display: flex;
}

.title {
    font-family: Braveold;
    display: flex;
    font-size: 28px;
    font-weight: bold;
}

.links {
    font-family: 'Futura';
    display: flex;
    font-size: 18px;
    gap: 56px;
    cursor: pointer;
}

div.top-nav-container > a {
    text-decoration: none;
    color: black;
}

.top-nav-container p a {
    text-decoration: none;
    color: gray;
}

.top-nav-container  p a:hover {
    color: black;
    transition: color ease-out 200ms;
}


/* Formally 1440px */
@media  screen and (max-width: 90em) { 
    
    .top-nav-container {
        width: 88vw;
        margin-left: -75px;
    }
}



/* Formally 1279px */
@media  screen and (max-width: 79.9375em) { 
    
    .top-nav-container {
        width: 93vw;
        margin-left: -30px;
    }

    
}



/* Formally 1024px */
@media  screen and (max-width: 64em) { 
    
    .top-nav-container {
        width: 92vw;
        margin-left: -30px;
    }

    .links {
        gap: 30px;
    }

    .links > p {
        font-size: 21px;
        margin-left: 25px;
    }
}


/* Formally 768px */
@media  screen and (max-width: 48em) { 
    
    .top-nav-container {
        width: 96vw;
        margin-left: -15px;
    }

    .links {
        gap: 36px
    }

    .links > p {
        font-size: 21px;
    }
}

/* Formally 703px */
@media  screen and (max-width: 43.9375em) {

    .top-nav-container {
        width: 96vw;
    }

    .links {
        gap: 25px
    }

    .links > p {
        font-size: 21px;
    }
}


/* Formally 425px */
@media  screen and (max-width: 26.5625em) { 
    
    .top-nav-container {
        width: 98%;
        justify-content: center;
        position: absolute;
    }

    .top-nav-container .title {
        font-size: 32px;
    }

    .brand-container > img {
        margin-top: 0;
    }

    div.brand-container > .title {
        margin-top: 8px;
    }

    .links {
        visibility: hidden;
        width: 0%;
    }
}



/* Formally 375px */
@media  screen and (max-width: 23.4375em) { 
    
    .top-nav-container {
        width: 97%;
        justify-content: center;
        position: absolute;
    }

    .top-nav-container .title {
        font-size: 30px;
    }
}


/* Formally 320px */
@media  screen and (max-width: 20em) { 
    
    .top-nav-container {
        width: 97%;
        /* margin-left: -30px; */
        justify-content: center;
        position: absolute;
    }
}