/* div > .top-nav-container {
    box-shadow: 0px 8px 8px 0px rgba(25, 25, 25, 0.181);
} */



.top-nav-container {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    padding-top: 25px;
    background-color: white;
    margin: 0;
    z-index: 1;
    border-style: solid;
    border-width: 0px 0px 5px 0px;
    border-color: hsl(0, 2%, 91%);

}



.brand-container > img {
    width: 42px;
    height: 42px;
    margin-right: 8px;
    margin-top: -6px;
}

div.logo {
    display: block;
    width: 25px;
    background-color: red;
}

.brand-container {
    display: flex;
}

.title {
    font-family: Braveold;
    display: flex;
    font-size: 28px;
    font-weight: bold;
}

.links {
    font-family: 'Futura';
    display: flex;
    font-size: 18px;
    gap: 56px;
    cursor: pointer;
}

div.top-nav-container > a {
    text-decoration: none;
    color: black;
}

.top-nav-container p a {
    text-decoration: none;
    color: gray;
}

.top-nav-container  p a:hover {
    color: black;
    transition: color ease-out 200ms;
}

@media  screen and (max-width: 1440px) { 
    
    .top-nav-container {
        width: 81vw;
        margin-left: -40px;
    }
}


@media  screen and (max-width: 1024px) { 
    
    .top-nav-container {
        width: 90vw;
        margin-left: -30px;
    }
}

@media  screen and (max-width: 768px) { 
    
    .top-nav-container {
        width: 120vw;
        margin-left: -30px;
    }
}

@media  screen and (max-width: 425px) { 
    
    .top-nav-container {
        width: 218vw;
        margin-left: -30px;
    }
}

@media  screen and (max-width: 375px) { 
    
    .top-nav-container {
        width: 245vw;
        margin-left: -30px;
    }
}

@media  screen and (max-width: 320px) { 
    
    .top-nav-container {
        width: 288vw;
        margin-left: -30px;
    }
}