h2 {
    font-family: Braveold;
    font-size: 52px;
    margin-bottom: 28px;
}

h3 {
    font-family: Braveold;
    font-size: 36px;
}

.projects-container {
    margin-bottom: 56px;
}

.card-containers {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card {
    display: flex;
    flex-direction: column;
    width: 28vw;
    justify-content: space-between;
}

div.card > img {
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    margin: 60px 0;
}

div.card:hover > img {
    position: relative;
    top: -30px;
    transition: top ease-in-out 5s;
    filter: drop-shadow(0px 15px 10px rgba(0, 0, 0, 0.675));
}

.left-container {
    display: flex;
    border: 4px solid black;
    height: 75%;
    width: 28vw;
    border-radius: 32px;
    padding: 32px;
    padding-bottom: 46px;
    /* justify-content: center; */
}

.left-container.shift-up {
    margin-top: -75px;
}

.left-container.shift-up2 {
    margin-top: -215px;
}

.right-container {
    display: flex;
    border: 4px solid black;
    height: 75%;
    width: 28vw;
    border-radius: 32px;
    padding: 32px;
    margin-top: 100px;
    margin-bottom: 40px;
    padding-bottom: 46px;
    /* justify-content: center; */
}

.project-buttons {
    display: flex;
    justify-content: space-evenly;
    /* width: 380px; */
    margin-bottom: 24px;
}


button {
    font-family: 'Futura';
    font-size: 21px;
    padding: 16px 40px;
    background-color: black;
    color: white;
    border: 2.5px black solid;
    letter-spacing: 2px;
    cursor: pointer;
    width: 13vw;
}

button:hover {
    background-color: white;
    color: black;
    transition: .5s;
    box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.496);
    transition: .5s;
}

.single-btn {
    width: 26vw;
}

/* button:first-child {
    background-color: black;
    color: white;
    width: 14vw;
}

button:first-child:hover {
    background-color: white;
    color: black;
    transition: .5s;
} */

.title {
    display: flex;
    position: relative;
    z-index: 0;
    align-items: center;
    margin-bottom: 215px;
}

.title > h2 {
    margin:0 0 0 25px;
}

.project-dot {
    position: absolute;
    z-index: -1;
    display: flex;
    height: 70px;
    width: 70px;
    background: #5CC63F;
    border-radius: 50%;
    margin-bottom: 8px;
  }

  #works {
    padding-top: 120px;
  }


  
/* Formally 1440px */
@media  screen and (max-width: 90em) { 
    
    .left-container{
        width: 30vw;
    }

    .right-container{
        width: 30vw;
    }

    div.card > img {
        margin: 42px 0;
        width: auto;
        height: auto;
    }
  }
  





/* Formally 1024px */
@media  screen and (max-width: 64em) { 
  
    .left-container {
        width: 33vw;
        padding: 27px;
    }
    .right-container{
        width: 33vw;
        padding: 27px;
    }

    .card-containers {
        justify-content: space-between;
    }

    .left-container.left-container.shift-up {
        margin-top: -20px;
    }

    .left-container.left-container.shift-up2 {
        margin-top: -40px;
    }

    .card {
        width: 33vw;
    }

    .card > h3 {
        font-size: 32px;
        line-height: 40px;
    }

    .card > p {
        font-size: 21px;
        line-height: 32px;
    }

    div.card > img {
        margin: 42px 0;
        width: 100%;
        height: auto;
    }

    .project-buttons {
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 0px;
    }
    div.project-buttons button{
        margin-bottom: 15px;
    }


    button {
        width: 100%;
    }

    .single-btn {
        width: 100%;
    }
  }
  


/* Formally 768px */
@media  screen and (max-width: 48em) { 
      

    .left-container {
        width: 36vw;
    }
    .right-container{
        width: 36vw;
        padding: 27px;
    }

    .card-containers {
        justify-content: space-between;
    }

    .left-container.left-container.shift-up {
        margin-top: -20px;
    }

    .left-container.left-container.shift-up2 {
        margin-top: -40px;
    }

    .card {
        width: 36vw;
        gap: 4px;
    }

    .card > h3 {
        font-size: 32px;
        line-height: 40px;
    }

    .card > p {
        font-size: 21px;
        line-height: 32px;
    }

    div.card > img {
        margin: 42px 0;
        width: auto;
        height: auto;
    }

    div.card  button {
        width: 36vw;
    }

    .project-buttons {
        justify-content: space-between;
        flex-direction: column;
        gap: 12px;
    }
  }
  
/* Formally 703px */
@media  screen and (max-width: 43.9375em) { 

    .left-container {
        width: 32vw;
    }
    .right-container{
        width: 32vw;
        padding: 27px;
        margin-top: 90px;
    }

    .left-container.left-container.shift-up {
        margin-top: -20px;
    }

    .left-container.left-container.shift-up2 {
        margin-top: -40px;
    }

    .card-containers {
        justify-content: space-around;
    }

    .card {
        width: 32vw;
        gap: 4px;
    }

    .card > h3 {
        font-size: 30px;
        line-height: 40px;
    }

    .card > p {
        font-size: 19px;
        line-height: 30px;
    }

    div.card > img {
        margin: 36px 0;
    }

    .project-buttons {
        flex-direction: column;
        gap: 12px;
    }

    div.card button {
        width: 32vw;
    }
  } 


  
/* Formally 425px */
@media  screen and (max-width: 26.5625em) { 
      
    h2 {
        font-size: 42px;
    }

    .title > h2 {
        margin: 0 0 0 12px;
    }

    .project-dot {
        height: 50px;
        width: 50px;
    }

    .card-containers {
        flex-direction: column;
    }

    .left-container {
        width: 70vw;
    }

    .left-container.left-container.shift-up {
        margin-top: 50px;
    }

    .left-container.left-container.shift-up2 {
        margin-top: 50px;
    }

    .right-container {
        width: 70vw;
        margin-bottom: 10px;
    }

    .card {
        width: 70vw;
    }

    .card > h3 {
        font-size: 30px;
    }

    .card > p {
        font-size: 16px;
        line-height: 24px;
    }

    .project-buttons {
        flex-direction: column;
        gap: 28px;
    }

    div.card button {
        width: 70vw;
    }
  }



/* Formally 375px */
@media  screen and (max-width: 23.4375em) { 
      
    h2 {
        font-size: 40px;
    }

    .left-container {
        width: 66vw;
    }

    .left-container.left-container.shift-up {
        margin-top: 100px;
    }

    .left-container.left-container.shift-up2 {
        margin-top: 100px;
    }

    .right-container {
        width: 66vw;
        margin-bottom: 10px;
    }

    .card {
        width: 66vw;
    }

    .project-buttons {
        flex-direction: column;
        gap: 28px;
    }

    div.card button {
        width: 66vw;
    }
  }
  


/* Formally 320px */
@media  screen and (max-width: 20em) { 
      
    .left-container {
        width: 64vw;
    }

    .left-container.left-container.shift-up {
        margin-top: -50px;
    }

    .left-container.left-container.shift-up2 {
        margin-top: -100px;
    }

    .right-container {
        width: 64vw;
        margin-bottom: 10px;
    }

    .card {
        width: 64vw;
    }

    .project-buttons {
        flex-direction: column;
        gap: 28px;
    }

    div.card button {
        width: 64vw;
    }

    .left-container.left-container.shift-up {
        margin-top: 100px;
    }

    .left-container.left-container.shift-up2 {
        margin-top: 100px;
    }
  }