h4 {
    font-size: 28px;
}

.resume-info-container {
    display: flex;
    gap: 280px;
    margin-bottom: 26px;
    margin-left: 30px;
}
 
/* Work experience section */
.work-experience-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 62px;
}

div.work-experience > p {
    font-size: 24px;
    margin: 8px 0;
    font-family: 'Futura';
}


/* Education section */
.education-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 62px;
}

div.education > p {
    font-size: 24px;
    margin: 8px 0;
}

.list-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 62px;
}

.list {
    display: flex;
    gap: 130px;
}

.tools-container {
    display: flex;
}

li {
    font-size: 24px ;
    list-style: none;
    margin: 16px 0;
    font-family: 'Futura';
}


/* Online Courses Section */
.courses-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 62px;
}

.online-course {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 12px;
}

.online-course > h4 {
    cursor: pointer;
}

.online-course > p {
    font-size: 24px;
}

.course-link {
    display: flex;
    align-items: center;
    gap: 12px;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: black;
}

.course-link > img {
    height: 25px;
    width: auto;
}

.title {
    display: flex;
    position: relative;
    z-index: 0;
    align-items: center;
    margin-bottom: 32px;
}

.title > h2 {
    margin:0 0 0 25px;
}

.resume-dot {
    position: absolute;
    z-index: -1;
    display: flex;
    height: 70px;
    width: 70px;
    background: #4498F7;
    border-radius: 50%;
    margin-bottom: 8px;
  }

  #resume {
    padding-top: 120px;
  }


  @media  screen and (max-width: 1440px) { 
    
    .resume-info-container{
        gap: 214px;
    }
  }
  
  @media  screen and (max-width: 1024px) { 
  
    .resume-info-container {
        gap: 120px;
        margin-left: 15px;
    }
  
  }
  
  @media  screen and (max-width: 768px) { 
      
    .resume-info-container {
        gap: 120px;
    }
  }



  @media  screen and (max-width: 703px) { 
      

    .resume-info-container {
        gap: 9px;
        margin-left: 0px;
    }

    .resume-left-side {
        width: 80%;
    }

    .resume-info-container h4 {
        font-size: 26px;
    }

    .work-experience-container h3 {
        font-size: 32px;
    }

    div.work-experience > p {
        font-size: 19px;
        line-height: 21px;
    }

    .online-course > p {
        font-size: 19px;
    }

    div.education > p {
        font-size: 19px;
        line-height: 24px;
    }

    .courses-container h3 {
        line-height: 40px;
    }

    .online-course > p {
        line-height: 24px;
    }

    .list {
        flex-direction: column;
        gap: 30px;
    }

    div.list.tools {
        gap: 0px;
    }

    li {
        font-size: 19px;
    }
  }


  
  @media  screen and (max-width: 425px) { 
      
    a {
        text-decoration: none;
        color: black;
    }

    .title > h2 {
        margin:  0 0 0 15px;
    }

    div.resume-info-container {
        gap: 20px;
    }

    div.resume-info-container  h3 {
        font-size: 32px;
    }

    div.resume-info-container  h4 {
        font-size: 26px;
    }

    div.work-experience > p {
        font-size: 18px;
        line-height: 24px;
    }

    div.education > p {
        font-size: 18px;
        line-height: 24px;
    }

    .list {
        gap: 40px;
    }

    .list-container  li {
        font-size: 18px;
    }

    /* .list-container > h3 {
        font-size: 32px;
    } */
    

    .resume-info-container {
        gap: 120px;
        flex-direction: column;
    }

    .resume-dot {
        height: 50px;
        width: 50px;
    }

    .online-course > p {
        font-size: 18px;
        line-height: 24px;
    }
  }



  
  @media  screen and (max-width: 375px) { 
      
    .resume-info-container {
        gap: 120px;
        margin-left: 5px;
    }

    div.resume-info-container h3 {
        font-size: 30px;
    }

    div.resume-info-container h4 {
        font-size: 24px;
    }

    div.work-experience > p {
        font-size: 16px;
    }

    .list-container  li {
        font-size: 16px;
    }

    div.education > p {
        font-size: 16px;
        line-height: 24px;
    }
  }
  
  @media  screen and (max-width: 320px) { 
      
    .resume-info-container {
        gap: 120px;
    }
  }