h4 {
    font-size: 28px;
}

.resume-info-container {
    display: flex;
    gap: 200px;
    margin-bottom: 26px;
    margin-left: 30px;
}
 
/* Work experience section */
.work-experience-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 62px;
}

div.work-experience > p {
    font-size: 24px;
    margin: 8px 0;
    font-family: 'Futura';
}


/* Education section */
.education-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 62px;
}

div.education > p {
    font-size: 24px;
    margin: 8px 0;
}

.list-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 62px;
}

.list {
    display: flex;
    gap: 130px;
}

.tools-container {
    display: flex;
}

li {
    font-size: 24px ;
    list-style: none;
    margin: 16px 0;
    font-family: 'Futura';
}


/* Online Courses Section */
.courses-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 62px;
}

.online-course {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 12px;
}

.online-course > h4 {
    cursor: pointer;
}

.online-course > p {
    font-size: 24px;
}

.course-link {
    display: flex;
    align-items: center;
    gap: 12px;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: black;
}

.course-link > img {
    height: 25px;
    width: auto;
}

.title {
    display: flex;
    position: relative;
    z-index: 0;
    align-items: center;
    margin-bottom: 32px;
}

.title > h2 {
    margin:0 0 0 25px;
}

.resume-dot {
    position: absolute;
    z-index: -1;
    display: flex;
    height: 70px;
    width: 70px;
    background: #4498F7;
    border-radius: 50%;
    margin-bottom: 8px;
  }

  #resume {
    padding-top: 120px;
  }




/* Formally 1440px */
@media  screen and (max-width: 90em) { 
    
    .resume-info-container{
        gap: 220px;
    }
  }



/* Formally 1279px */
@media  screen and (max-width: 79.9375em) { 
    
    .resume-info-container {
        gap: 90px;
        margin-left: 15px;
    }

    .resume-left-side {
        width: 45%;
    }

    .list {
        gap: 60px;
    }
  
  }



/* Formally 1024px */
@media  screen and (max-width: 64em) { 
  
    div.title > h2 {
        margin: 0 0 0 23px;
    }

    .resume-info-container {
        gap: 70px;
        margin-left: 10px;
    }

    .resume-left-side {
        width: 62%;
    }

    .resume-right-side {
        margin-left: 50px;
    }
    
    .resume-info-container h3 {
        font-size: 30px;
    }

    .resume-info-container h4 {
        font-size: 26px;
    }

    .work-experience{
        margin: 12px 0;
    }

    .education {
        margin: 12px 0;
    }

    .online-course {
        margin: 12px 0;
    }

    div.work-experience > p {
        font-size: 20px;
        line-height: 22px;
    }


    div.education > p {
        font-size: 20px;
        line-height: 22px;
    }

    .online-course > p {
        font-size: 20px;
        line-height: 28px;
    }

    .list {
        gap: 60px;
        display: flex;
        justify-content: space-between;

    }

    .list li {
        font-size: 20px;
    }

  
  }



/* Formally 768px */
@media  screen and (max-width: 48em) { 
      
    .resume-info-container {
        gap: 60px;
        margin-left: 5px;
    }

    .resume-info-container h3 {
        font-size: 32px;
    }

    .resume-info-container h4 {
        font-size: 26px;
    }

    div.work-experience > p {
        font-size: 21px;
    }

    .online-course > p {
        font-size: 21px;
    }

    .list {
        gap: 60px;
    }

    .list li {
        font-size: 21px;
    }
    
  }


/* Formally 703px */
@media  screen and (max-width: 43.9375em) { 
      

    .resume-info-container {
        gap: 9px;
        margin-left: 0px;
    }

    .resume-left-side {
        width: 80%;
    }

    .resume-info-container h4 {
        font-size: 26px;
    }

    .work-experience-container h3 {
        font-size: 32px;
    }

    div.work-experience > p {
        font-size: 19px;
        line-height: 21px;
    }

    .online-course > p {
        font-size: 19px;
    }

    div.education > p {
        font-size: 19px;
        line-height: 24px;
    }

    .courses-container h3 {
        line-height: 40px;
    }

    .online-course > p {
        line-height: 24px;
    }

    .list {
        flex-direction: column;
        gap: 30px;
    }

    div.list.tools {
        gap: 0px;
    }

    li {
        font-size: 19px;
    }
  }


  
/* Formally 425px */
@media  screen and (max-width: 26.5625em) { 
      
    a {
        text-decoration: none;
        color: black;
    }

    .title > h2 {
        margin:  0 0 0 15px;
    }

    div.resume-info-container {
        gap: 20px;
    }

    div.resume-info-container  h3 {
        font-size: 32px;
    }

    div.resume-info-container  h4 {
        font-size: 26px;
    }

    .resume-right-side {
        margin-left: 10px;
    }

    .resume-left-side {
        width: 90%;
        margin-left: 10px;
    }

    div.work-experience > p {
        font-size: 18px;
        line-height: 24px;
    }

    div.education > p {
        font-size: 18px;
        line-height: 24px;
    }

    .list {
        flex-direction: row;
        gap: 55px;
    }

    div.list.tools {
        gap: 55px;
    }

    .list-container  li {
        font-size: 18px;
    }

    /* .list-container > h3 {
        font-size: 32px;
    } */
    

    .resume-info-container {
        gap: 120px;
        flex-direction: column;
    }

    .resume-dot {
        height: 50px;
        width: 50px;
    }

    .online-course > p {
        font-size: 18px;
        line-height: 24px;
    }
  }



/* Formally 375px */
@media  screen and (max-width: 23.4375em) { 
      
    .resume-info-container {
        gap: 120px;
        margin-left: 5px;
    }

    .resume-right-side {
        margin-left: 15px;
    }

    div.resume-info-container h3 {
        font-size: 30px;
    }

    div.resume-info-container h4 {
        font-size: 24px;
    }

    div.work-experience > p {
        font-size: 16px;
    }

    .list-container  li {
        font-size: 16px;
    }

    div.education > p {
        font-size: 16px;
        line-height: 24px;
    }
  }



/* Formally 320px */
@media  screen and (max-width: 20em) { 
      
    .resume-info-container {
        gap: 120px;
    }
  }