* {
  margin: 0;
  scroll-behavior: smooth;
}

@font-face {
  font-family: Braveold;
  src: url(Braveold-Bold.ttf);
}

.container {
  margin: 36px 220px;
}


@media  screen and (max-width: 1440px) { 
    
  .container {
      margin: 0px 175px;
  }
}

@media  screen and (max-width: 1024px) { 
    
  #root {
    width: 107vw ;
  }

  .container {
      margin: 36px 115px;
  }

}

@media  screen and (max-width: 768px) { 
    
  #root {
    width: 142vw ;
  }
}


@media  screen and (max-width: 703px) { 
    
  #root {
    width: 100vw ;
  }

  .container {
    margin: 16px 40px;
  }
}


@media  screen and (max-width: 425px) { 
    
  * {
    overflow-x: hidden;
  }

  #root {
    max-width: 425px;
  }
  
  .container {
    margin: 16px 30px;
  }
}



@media  screen and (max-width: 375px) { 
    
  #root {
    width: 100vw;
  }

  .container {
    margin: 16px 26px;
  }
}



@media  screen and (max-width: 320px) { 
    
  #root {
    width: 320px ;
  }

  .container {
    margin: 16px 22px;
  }
}