* {
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: black;
}

@font-face {
  font-family: Braveold;
  src: url(Braveold-Bold.ttf);
}

.container {
  margin: 36px 220px;
}



/* Formally 1440px */
@media  screen and (max-width: 90em) { 
    
  .container {
      margin: 0px 175px;
  }
}




/* Formally 1279px */
@media  screen and (max-width: 79.9375em) { 
    
  #root {
    width: 100vw ;
  }

  .container {
      margin: 36px 72px;
  }

}



/* Formally 1024px */
@media  screen and (max-width: 64em) { 
    


  #root {
    width: 100vw ;
  }

  .container {
      margin: 36px 60px;
  }

}



/* Formally 768px */
@media  screen and (max-width: 48em) { 
    
  
  #root {
    width: 100vw ;
  }

  .container {
    margin: 16px 29px;
  }
}



/* Formally 703px */
@media  screen and (max-width: 43.9375em) { 
    
  #root {
    width: 100vw ;
  }

  .container {
    margin: 16px 40px;
  }
}



/* Formally 425px */
@media  screen and (max-width: 26.5625em) { 
    
  * {
    overflow-x: hidden;
  }

  #root {
    max-width: 425px;
  }
  
  .container {
    margin: 16px 20px;
  }
}


/* Formally 375px */
@media  screen and (max-width: 23.4375em) { 
    
  * {
    overflow-x: hidden;
  }

  #root {
    width: 100vw;
  }

  .container {
    margin: 16px 26px;
  }
}




/* Formally 320px */
@media  screen and (max-width: 20em) { 
    
  * {
    overflow-x: hidden;
  }

  #root {
    width: 320px ;
  }

  .container {
    margin: 16px 22px;
  }
}